body { /* Adds side margin to entire page */
  margin: 0px 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(255, 252, 250);
}

.fancy {
  font-family: "Times new roman", serif;
}

/* NAVBAR */
nav { /* Makes heading and links in navbar all in one line, also adds decorative border to the bottom */
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(201, 201, 201);
  margin-bottom: 80px;
}

.nav-heading {
  text-align: left;
  font-size: 35px;
}

.nav-links {
  text-align: right;
  font-size: 20px;
  margin-top: 35px;
}

ul a { /* controls the spacing between the nav-links */
  margin-left: 40px;
}

.nav-links li {
  display: inline;
}


/* NAVBAR LINK DECORATING*/
.nav-style {
  text-decoration: none;
}
.nav-style:link {
  color: rgb(49, 49, 49)
}

.nav-style:visited {
  color: rgb(49, 49, 49)
}

.nav-style:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(255, 115, 0);
  text-underline-offset: 7px;
}

.button {
  background-color: rgb(255, 208, 0);
  padding: 15px;
}

.button:hover {
  text-decoration: none;
  background-color: rgb(255, 200, 0);
}

.dec-orange {
  color: rgb(255, 115, 0);
}


/* IMAGE AND BOTTOM TEXT */
.item {
  vertical-align: top;
  text-align: center;
  float: right;
  margin-left: 400px;
  background-color: white;
}

.item img {
  height: 500px;
  width: auto;
}


/* SECTION LEFT OF IMAGE */
h2 {
  display: inline;
  font-size: 70px;
  margin-bottom: 0px;
}