body { /* Adds side margin to entire page */
  margin: 0px 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(255, 252, 250);
  font-size: 18px;
}

.fancy {
  font-family: "Times new roman", serif;
}


/* NAVBAR */
nav { /* Makes heading and links in navbar all in one line, also adds decorative border to the bottom */
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(201, 201, 201);
  margin-bottom: 80px;
}

.nav-heading {
  text-align: left;
  font-size: 35px;
}

.nav-links {
  text-align: right;
  font-size: 20px;
  margin-top: 35px;
}

.nav-links a { /* controls the spacing between the nav-links */
  margin-left: 40px;
}

.nav-links li {
  display: inline;
}


/* NAVBAR LINK DECORATING*/
.nav-style, .button {
  text-decoration: none;
}
.nav-style:link {
  color: rgb(49, 49, 49)
}

.nav-style:visited {
  color: rgb(49, 49, 49)
}

.nav-style:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(255, 115, 0);
  text-underline-offset: 7px;
}

.fancy .nav-style {
  color: black;
  text-decoration: none;
}

.nav-button {
  background-color: rgb(255, 208, 0);
  padding: 15px;
}

.nav-button:hover {
  text-decoration: none;
  background-color: rgb(255, 200, 0);
}

.dec-orange {
  color: rgb(255, 115, 0);
}


/* IMAGE AND BOTTOM TEXT */
.item {
  vertical-align: top;
  text-align: center;
  float: right;
  background-color: white;
  border: 1px solid black;
}

.item img {
  height: 500px;
  width: auto;
}


/* SECTION LEFT OF IMAGE */
.container {
  display: inline-block;
  margin-top: -30px;
  padding-bottom: 130px;
  width: 500px;
}
.container h2 {
  font-size: 70px;
  margin: 45px 0px;
}

.container p {
  margin-bottom: 50px;
}

.direct li { /* puts links side-by-side */
  display: inline-block;
  font-weight: bold;
}

.direct a {
  padding: 20px;
  display: inline-block;
}

.b-left {
  color: white;
  background-color: rgb(255, 115, 0);
  border: 2px solid rgb(255, 115, 0);
  margin-right: 50px;
}

.b-right {
  color: black;
  background-color: white;
  border: 2px solid black;
}


/* BELOW IMAGE */
.guide {
  text-align: center;
  border-top: 1px solid rgb(201, 201, 201);
  font-size: larger;
}

.guide h3 {
  width: 1000px;
  margin: 30px auto;
}

.guide .flex-boxes {
  display: flex;
}

.flex-boxes p {
  flex: 1;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  height: 450px;
  margin: 20px;
  padding: 15px;
  font-size: 30px;
}

.box-img img {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 370px;
  height: auto;
  border: 2px solid black;
}

.guide .spend {
  background-color: rgb(255, 255, 191);
}

.points img {
  width: 350px;
}